<!DOCTYPE html>
<html >
<head >
<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title></title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>

<div >
	<div class="row">
  <div class="column">
    <div class="card">
    <img  src="img/investisseur.png">
    <h2>Utilisateur</h2>
    <h6>                                            </h6>
    
    <a href="/connexion_utilisateur">Connexion</a>
    
    
    </div>
  </div>
  <div class="column">
    <div class="card">
    <img  src="img/commercantt.png">
    <h2>Commercant</h2>
    <h6>                                            </h6>
    <button class="submit-btn" href="/connexion_commercant">Se connecter</button>
    
    </div>
  </div>
  <div class="column">
    <div class="card">
    <img  src="img/administrateur.png">
    <h2>Admin</h2>
     <h6>cette partie ne doit pas être visible en vrai</h6>
    <button class="submit-btn">Se connecter</button>
    
    </div>
  </div>
</div>


</body>
</html>